*{
   margin: 0;  
   padding: 0;
  font-family: 'Kaisei Opti', sans-serif;
}

.header
{
    min-height: 30vh;
    width: 100%;
    background-color: #fff;
}
nav
{
   display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #A52A2A;
}
nav img
{
    width: 150px;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
nav .fas
{
    display: none;
}

/*----------------------------about us------------------------------*/
.about
{
    position: relative;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.us h1
{
    color: navy;
    text-align: center;
    padding-top: 30px;
    font-size: 36px;
    font-family: 'Holtwood One SC', serif;
    text-decoration: underline;
}
.who
{ 
   text-align: left;
   padding-top: 2%;
}
.who h3
{
    padding-left: 10px;
    text-align: left;
    font-size: 26px;
    color: saddlebrown;
    text-decoration: underline;
}
.who p
{
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}
.who .far
{
 font-size: 22px;
 color: blueviolet;
}
.what_01
{
 padding-top: 2%;
}
.what_01 h3
{
    padding-left: 10px;
    text-align: left;
    font-size: 26px;
    color: saddlebrown;
    text-decoration: underline;
}
.what_01 p
{
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}
.what_01 .far
{
 font-size: 22px;
 color: blueviolet;
}
.what_02
{
 padding-top: 2%;
}
.what_02 h3
{
    padding-left: 10px;
    text-align: left;
    font-size: 26px;
    color: saddlebrown;
    text-decoration: underline;
}
.what_02 p
{
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}
.what_02 .far
{
 font-size: 22px;
 color: blueviolet;
}
.work
{
 padding-top: 2%;
}
.work h3
{
    padding-left: 10px;
    text-align: left;
    font-size: 26px;
    color: saddlebrown; 
    text-decoration: underline;
}
.work p
{
    padding-left: 10px;
    text-align: left;
    font-size: 20px;
}
.work .far
{
 font-size: 22px;
 color: blueviolet;
}

/*@media(max-width: 700px)
{  
.header{
    min-height: 15vh;
    width: 100%;
} 
nav img
{
    width: 80px;
}
.nav-links
{
        position: fixed;
        background: #A52A2A;
        height: 300vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
}
.nav-links ul
{
        padding: 30px;
} 
.nav-links ul li a
{
    font-size: 15px;
}

.nav-links ul li
{
        display: block;
} 
nav .fas
{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
}
.about
{
    width: 80%;
    position: relative;
    padding: 35px;
    padding-top: 5px;
}
.us h1{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 40px;
    text-align: center;
    font-size: 20px;
}
.who{}
.who h3
{
    padding-left: 5px;
    font-size: 20px;
}
.who p
{
    font-size: 14px;
    padding-left: 5px;
}
.who .far
{font-size: 24px;
}
.what_01{}
.what_01 h3
{ 
    padding-left: 5px;
    font-size: 20px;
}
.what_01 p
{
    font-size: 14px;
    padding-left: 5px;
}
.what_01 .far
{
    font-size: 24px;
}
.what_02{}
.what_02 h3
{ 
    padding-left: 5px;
    font-size: 20px;
}
.what_02 p
{
    font-size: 14px;
    padding-left: 5px;
}
.what_02 .far
{
    font-size: 24px;
}
.work{}
.work h3
{ 
    padding-left: 5px;
    font-size: 20px;
}
.work p
{
    font-size: 14px;
    padding-left: 5px;
}
.work .far
{
    font-size: 24px;
}*/
}
/*------------------------------------footer-------------------------------------*/
.footer
{
    background-color: #FDDFDA;
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 70px;
}
.footer p
{
    text-align: center;
}
.icons .fab
{
    color: #A52A2A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart
{
    color: #A52A2A;
}
@media(max-width: 700px)
{
.footer
{
    width: 83%;
    position: relative;
    text-align: center;
    margin-top:100px ;
    margin-right: 0px;
}
.footer p
{
    font-size: 15px;
    text-align: center;
}
}