*{
   margin: 0;  
   padding: 0;
    font-family: 'Kaisei Opti', serif;
}

.header{
    min-height: 10vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: auto;
    position: relative;   
}
nav{
   display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #A52A2A;
  /*background-size: 1px;
    margin-bottom: 1px;*/
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}
/*@media(max-width: 700px){

nav img
    {
    width: 80px;
    padding-top: 10px;
    }
    
.nav-links ul li a{
    font-size: 15px;
}
    .nav-links ul li
    {
        display: block;
    } 
     .nav-links
     {
        position: fixed;
        background: #A52A2A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;
    }
}*/
/*-- writtings --*/
 .PARA p{
    padding-top: 32px ;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#fff ;
 font-size: 22px;
 }

/*------------------Map-------------------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}


/*---------------Services----------------*/

.services{
    width: 100%;
    margin-top: 20px;
    padding-top: 50px;
    position: relative;
    text-align: left;
    padding: 1px 1px;
    top: 0px;
    background-color: #fff;
    /*left: 60px;
    right: 60px;*/
}
.row{
    display: block;
    justify-content: center;
    
}
.row h1{
    width: 15%;
    font-size: 32px;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    text-decoration: underline;
    padding-left: 30px;
    background-color: blueviolet;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10%;
    /*font-weight: 600;*/
}

.services-col{
        width: 50%;
        position: relative;
        text-align: center;
        padding: 10px;
        top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F0F0F0;
    transition: 0.5s;
}

.services-col h3{
    justify-content: center;
    font-size: 30px;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 20px;
}
.services-col p{
    margin: 10px 10px 40px;
    font-size: 20px;
    color: #000000;
    padding-bottom: 40px;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
   
}
/*@media(max-width: 700px)
{
header{
 width: 100%;
}
.PARA p{
    font-size: 16px;
}
.services
{
    width: 100%;
    min-height: 50vh;
    position: relative;
    text-align: center;
}

h1{
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;

}
.row{
        padding-top:60px ;
        display: flex;
        flex-direction: column;
    }
.services-col{
    width: 70%;
        position: relative;
        text-align: center;
        padding-top: 50px;
    background-color: #1c00b5;
    /*flex-basis: 11%;
    background: #fff3f3;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 5px 1px;
    box-sizing: border-box;
    transition: 0.5s;
    }
.services-col h3
{
    font-size: 20px;
    padding-bottom: 10px;
}
.services-col p
{
    font-size: 12px;
    padding-bottom: 40px;
}

.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);  
}
}*/

/*--------------footer-------------*/
.footer{
    background-color: #FDDFDA;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: #A52A2A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
     color: #A52A2A;
}
@media(max-width: 700px){
    .footer{
        width: 89%;
        position: relative;
        text-align: center;
        padding: 20px;
        padding-top: 50px;
    }
.footer h4{
     margin-top: 10px;
    }
.footer p{
    padding-bottom: 10px;
}
}