*{
   margin: 0;  
   padding: 0;
    font-family: 'Kaisei Opti', serif;
}

.header{
    min-height: 35vh;
    width: 100%;
    background-color: #fff;
   /* background-position: center;
    background-size: cover;
    position: relative;*/
}

nav{
   display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #A52A2A;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}
/*-----------------------search services------------------------------*/
.PARA{
    padding-top:20px ;
}
.PARA p{
    font-size: 20px;
    padding-left: 20px;
}

/*-----------------------search services------------------------------*/
.search{
    /*/background: #1d4052;/*/
    position: relative;
}
.search-bar{
   /* margin: 0%;*/
    display: block;
    color: #fff;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    
}
.search-bar h4
{    
    color: black;
    font-size: 20px;
    font-family:'Poppins', sans-serif;
    padding-left: 30px;
    margin-bottom: 5px;
}
.input-field{
    width: 50%;
    padding: 10px 10px;
    margin: 5px 0;
   /* border-left: 0;
    border-top: 0;
    border-right: 0;*/
    border: 1px solid #999;
    outline: none;
    background: transparent;
    border-radius: 80px;
    text-align: center;
}
#btn1{
    width: 20%;
    padding: 8px 10px;
    position: relative;
    cursor: pointer;
    display: block;
    background: transparent;
    border: 1px solid #A52A2A;
    outline: none;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 50px ;
   margin-left: 100px;
   margin-top: 5px;
}
/*//--------mobile----/*/
@media(max-width: 700px){
    .header
    {
        min-height: 10vh;
        padding-bottom: 20px ;
    }
    nav
    {
     padding: 4% 6%;
    }
    nav img{
        width: 70px;
    }
    .nav-links ul li{
        display: block;
    } 
     .nav-links{
        position: fixed;
        background: #A52A2A;
        height: 300vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;
    }
    .PARA p{
        padding-top: 10px;
    font-size: 16px;
}
    .search
    {
   display: flex;
    }
    .search-bar
    {
    width: 80%;
    position: absolute;
    color: #fff;
    margin-top: 0px;
    font-size: 18px;
   }
   .search-bar h4{
    font-size: 16px;
    padding-left: 10px;
   }
    .input-field{
    min-height: 8vh;
    width: 90%;
    padding:1px;
    top: 1px;
    left: 1px;
    margin-left: 5px;
    border: 1px solid #A52A2A;
    flex-direction: column;
    font-size: 18px;
    outline: none;
    background: transparent;
    border-radius: 20px;
  }
    #btn1{
    width: 50%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 2%;
    background: transparent;
    border: 1px solid #A52A2A;
    outline: none;
    border-radius: 20px;
  }
}
/*--------------footer-------------*/
.footer{
    background-color: #FDDFDA;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fab{
    color: #A52A2A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
     color:#A52A2A;
}
@media(max-width: 700px){
    .footer{
        width: 89%;
        position: relative;
        text-align: center;
        padding: 20px;
        top: 280px;
    }
    .footer h4{
    margin-bottom: 10px;
}

    .footer p{
        padding-top: 5px;
    }
}