*{
   margin: 0;  
   padding: 0;
    font-family: 'Kaisei Opti', serif;
}

.header{
    min-height: 30vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: auto;
    position: relative;   
}
nav{
   display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #A52A2A;
  /*background-size: 1px;
    margin-bottom: 1px;*/
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    nav img
    {
    width: 80px;
    padding-top: 10px;
    }
    .nav-links ul li{
        display: block;
    } 
     .nav-links{
        position: fixed;
        background: #A52A2A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;
    }
}
/*-----services----*/

.services{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 1px 1px;
    top: 0px;
}
h1{
    padding-top: 20px;
   font-size: 36px;
}

p{
    color: #777;
     font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
}

.services-col{
    flex-basis: 41%;
    background: #fff3f3;
    width: 90%;
    height: 30vh;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}
.services-col h3{
    margin-top: 40px;
    text-align: center;
    font-weight: 600;
}
.services-col p{
     text-align: center;
     color: #000000;
    font-weight: 600;
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
   
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #A52A2A;
    border: 1px solid #A52A2A;
    padding: 4px 16px;
    font size: 6px;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.hero-btn:hover{
    border: 1px solid #A52A2A;
    background: #A52A2A;
    color: #fff;
    transition: 1s;
}
.hero_P-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #A52A2A;
    border: 1px solid #A52A2A;
    padding: 4px 16px;
    font size: 6px;
    background: transparent;
    position: relative;
    cursor: pointer; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.hero_P-btn:hover{
    border: 1px solid #A52A2A;
    background: #A52A2A;
    color: #fff;
    transition: 1s;
}
/*
@media(max-width: 700px)
{

.services
{
    width: 70%;
    position: absolute;
    text-align: center;
    padding: 10px;
    top: 130px;
    left: 40px;
}

h1{
    font-size: 20px;
}

p{
    color: #777;
     font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
        flex-direction: column;
    }
.services-col{
    flex-basis: 11%;
    background: #fff3f3;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 5px 20px;
    box-sizing: border-box;
    transition: 0.5s;
    }
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);   
}
.hero-btn{}
.hero-btn:hover{}
.hero_P-btn{}

.hero_P-btn:hover{}
}*/

/*--------------footer-------------*/
.footer{
    background-color: #FDDFDA;
    margin-top: 70px;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
     margin-top: 20px;
    text-align: center;
    font-weight: 600;
}
.footer p{
 color: #000000;
 font-weight: 400;
}
.icons .fab{
    color: #A52A2A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
     color: #A52A2A;
}
@media(max-width: 700px){
    .footer{
        width: 89%;
        position: relative;
        text-align: center;
        /*margin: 70px 0;*/
        margin-top: 70px;
        padding: 20px;
        top: 450px;
    }
}