*{
   margin: 0;  
   padding: 0;
    font-family: 'Kaisei Opti', serif;
}

.header{
    min-height: 30vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: auto;
    position: relative;   
}
nav{
   display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #A52A2A;
  /*background-size: 1px;
    margin-bottom: 1px;*/
    
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    nav img
    {
    width: 80px;
    padding-top: 10px;
    }
    .nav-links ul li{
        display: block;
    } 
     .nav-links{
        position: fixed;
        background: #A52A2A;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .nav-links ul{
        padding: 30px;
    }
}

/*-----------------------------area wise numbers--------------------------*/

.BOX{
    text-align: center;
}   
.BOX h1{

     text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
}

.first{

    border: 1px solid black;
    background-color: rgb(248, 179, 179);
    font-family:   'Kaisei Opti', serif;
    padding:60px ;
    margin: 20px;
    
}
.first h2{

    text-align: center;
    font-size: 26px;
    font-weight:600 ;
}
#myInput{
      text-align: center ;
      font-size: 18px;
      padding: 10px;
      left: 10px;
      right: 20px;
  }
.first h4{

    color: black;
    font-size: 20px;
    font-weight: 300;
    font-family:'Poppins', sans-serif;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}
/*#ree{
      text-align: center ;
      font-size: 16px;
      padding: 10px;
      left: 20px;
      right: 20px;
  }*/
#cli{
      text-align: center ;
      font-size: 16px;
      padding: 10px;
       left: 20px;
      right: 20px;
      margin-top: 10px;
  }

/*-----------------------------area wise numbers--------------------------*/

.BOX{
    text-align: center;
}   
.BOX h1{

     text-align: center;
    font-size: 28px;
    padding-bottom: 50px;
    padding-top: 30px;
    font-family:'Kaisei Opti', serif ;
}

.first{

    border: 1px solid black;
    background-color: rgb(248, 179, 179);
    font-family: 'Kaisei Opti', serif;
    padding:60px ;
    margin: 20px;
    
}
.first h2{

    text-align: center;
    font-size: 26px;
    font-weight:600 ;
}
#myInput{
      text-align: center ;
      font-size: 18px;
      padding: 10px;
      left: 10px;
      right: 20px;
  }
.first h4{

    color: black;
    font-size: 20px;
    font-weight: 300;
    font-family:'Poppins', sans-serif;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}
/*#ree{
      text-align: center ;
      font-size: 16px;
      padding: 10px;
      left: 20px;
      right: 20px;
  }*/
#cli{
      text-align: center ;
      font-size: 16px;
      padding: 10px;
       left: 20px;
      right: 20px;
      margin-top: 10px;
  }
  /*--------------footer-------------*/
.footer{
    background-color: #FDDFDA;
    margin-top: 70px;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
     margin-top: 20px;
    text-align: center;
    font-weight: 600;
}
.icons .fab{
    color: #A52A2A;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
     color: #A52A2A;
}
@media(max-width: 700px){
    .footer{
        width: 89%;
        position: relative;
        text-align: center;
        /*margin: 70px 0;*/
        margin-top: 70px;
        padding: 20px;
        top: 450px;
    }
}
