*{
    margin:0;
    padding: 0;
    background-color: #3c4053;
}
section{
    font-family: 'Roboto',sans-serif;
    font-size:10px;
    width:100%;
    background-color: #3c4053;
    display:flex;
    align-items:center;
    justify-content: center;
}
.container{
    width:100%;
    max-width: 80rem;
    margin:0 auto;
    padidng:0 1.5rem;
}
.accordian-items{
    background-color: #283042;
    border-radius:  .4rem;
    margin-bottom:  1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}
.accordian-links{
    font-size: 1.6rem;
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordian-links i{
    color: #e7d5ff;
    padding:.5rem;
}
.accordian-links .fa-minus{
    display: none;
}
.answer{
    max-height: 0;
    overflow:   hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;

}
.answer::before{
    content:"";
    position: absolute;
    width:.6rem;
    height:90%;
    background-color: #8fc460;
    top:50%;
    left:0;
    transform:  translateY(-50%);
}
.answer p{
    font-size: 1.4rem;
    color:rgba(255,255,255,.6);
    padding:2rem;
}
.accordian-items:target .answer{
    max-height:20rem;
}
.accordian-items:target .accordian-links .fa-plus{
    display:none;
}
.accordian-items:target .accordian-links .fa-minus{
    display:block;
}